/*------------------------------------*\
   Inputs
\*------------------------------------*/

input {
    display: inline;
    border: none;
    border-radius: 4rem;
    appearance: none;
    padding: 0.9rem 1.8rem;

    &:focus {
        outline: none;
    }
}
