/*------------------------------------*\
    Wrappers
\*------------------------------------*/

// .site-wrapper {
//     max-width: 108rem;
//     margin: 0 auto;
// }

.content-wrapper {
    position: relative;
    max-width: 71em;
    margin: 0 auto;
    padding: $col-pd-wrapper;
}

.content-inner {
    padding: $col-pd-inner;
}
