/*------------------------------------*\
   cta
\*------------------------------------*/

.cta {
    position: relative;
    width: 100%;
    background-color: $c-bg-dark-3;
    text-align: center;
    overflow: hidden;
}

.bg-left,
.bg-right {
    position: absolute;
    opacity: 0.1;
}
.bg-left {
    left: -25rem;
    top: 3rem;
    width: 130%;

    @include bp(small) {
        width: 60%;
        left: -2rem;
        top: -3rem;
    }
    @include bp(medium) {
        width: 40%;
        left: 12rem;
        top: -3rem;
    }
}
.bg-right {
    display: none;

    @include bp(medium) {
        display: block;
        width: 40%;
        right: -20rem;
        top: -26rem;
    }
}

.cta__inner {
    position: relative;
    display: block;
}

.cta__content {
    position: relative;
    width: 100%;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    @include flex-center();
    flex-direction: column;
    
    h2 {
        color: $c-font-light;
        font-size: 2.5rem;
        margin-bottom: 1.6rem;
    }

    @include bp(small) {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
    @include bp(medium) {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;

        h2 {
            max-width: 29rem;
        }
    }
}