/*------------------------------------*\
   footer
\*------------------------------------*/

.footer {
    position: relative;
    background-color: $c-bg-dark-1;
    width: 100%;
}

.footer__inner {
    position: relative;
    width: 100%;
}

.footer__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;

    @include bp(medium) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 4rem;
    }
}

.footer__lc {
    display: flex;
    flex-direction: column;
    order: 3;
    width: 100%;

    @include bp(medium) {
        order: 1;
        flex: 1;
    }
}
.footer__site-link {
    order: 2;
    margin-bottom: 3.4rem;
    align-self: center;

    @include bp(medium) {
        order: 1;
        align-self: flex-start;
    }
}
.footer__socials {
    display: flex;
    justify-content: space-evenly;
    order: 1;
    margin-bottom: 3.125rem;

    svg {
        cursor: pointer;
        &:hover {
            path {
                fill: $c-primary;
                transition: $transition;
            }
        }

        @include bp(medium) {
            margin-right: 0.8rem;
        }
    }

    @include bp(medium) {
        order: 2;
        justify-content: flex-start;
        margin-bottom: 0;
    }
}

.footer__mc {
    display: block;
    order: 2;
    width: 100%;
    margin-bottom: 1.5rem;

    @include bp(medium) {
        flex: 2;
    }
}
.mc__inner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

// .footer__nav-list {

// }
.footer__nav-list-item {
    margin-bottom: 1.56rem;
}
.footer__nav-link {
    color: $white;
    font-size: 0.9375rem;

    @include bp(medium) {
        &:hover {
            transition: $transition;
            color: $c-primary;
        }
    }
}

.footer__rc {
    position: relative;
    order: 1;
    display: block;
    width: 100%;
    align-items: center;

    @include bp(small) {
        width: 60%;
    }

    @include bp(medium) {
        order: 3;
        flex: 2;
    }
}

.copyright {
    order: 4;
    font-size: 0.8rem;

    @include bp(medium) {
        position: absolute;
        right: 1.5rem;
        bottom: 5rem;
    }
}
