/*------------------------------------*\
   Email form
\*------------------------------------*/

.form,
form,
.form-field {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 0.8125rem;

    @include bp(medium) {
        justify-content: flex-end;
    }
}

input[type="text"] {
    display: inline;
    width: 15rem;
}
input[type="submit"] {
    background: $c-bg-dark-3;
    color: $c-font-light;
    padding: 0.5rem 1.5rem;
    width: 5rem;
    margin-left: 0.8rem;

    &:hover {
        background-color: #f98f75;
        transition: $transition;
    }
}

.form-field.error input {
    border: 1px solid red;
}

.form-field.success input {
    border: 1px solid green;
}

.form-field small {
    position: absolute;
    justify-content: center;
    bottom: -1.5rem;
    color: red;
}
