/*------------------------------------*\
   loader
\*------------------------------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-center();
    background: $c-bg-dark-2;
    overflow: hidden;
    @include z-index(level10);
}

.loader__inner {
    position: relative;
    display: block;
    overflow: hidden;
}

.loader__logo {
    opacity: 0;
    visibility: hidden;
}

.loder__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background: $c-bg-light-3;
    transform: translateX(-100%);
}
